{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="static\css\socialButtons.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .container {
        height: 70%;
    }

    .row {
        position: absolute;
        left: 40%;
        top: 50%;
        margin: 5px;
    }

    .col-sm {
        width: 80%;
        /* padding: 5%;
        box-sizing: border-box; */
    }

    @media only screen and (max-width: 700px) {
        .row {
            position: absolute;
            left: 0%;
            top: 50%;
        }
    }
    
</style>
{% endblock %}

{% block content %}

<div class="center">
    <div id="social-test">
    <ul class="social">
      <li><a href="https://www.ubu.es/"><i class="fa fa-university" aria-hidden="true"></a></i></li>
      <li><a href="mailto:pst0004@alu.ubu.es"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
      <li><a href="https://linkedin.com/in/pablo-santidrian-tudanca"><i class="fa fa-linkedin" aria-hidden="true"></a></i></li>
      <li><a href="https://github.com/psnti/Jellyfish_Forecast"><i class="fa fa-github" aria-hidden="true"></a></i></li>
    </li>
    </ul>
   
    </div>
  </div>


{% endblock %}