<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5821b8086cf24c9da62a97e934759b92 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5821b8086cf24c9da62a97e934759b92" ></div>
        
</body>
<script>    
    
            var map_5821b8086cf24c9da62a97e934759b92 = L.map(
                "map_5821b8086cf24c9da62a97e934759b92",
                {
                    center: [-18.493643399999996, -70.3281622],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_aeb3924338dc463d9543c5bfce74b406 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5821b8086cf24c9da62a97e934759b92);
        
    
            var marker_024254ae735541fb87cbf6a897087e9c = L.marker(
                [-18.493643399999996, -70.3281622],
                {}
            ).addTo(map_5821b8086cf24c9da62a97e934759b92);
        
    
            var icon_5273ffa65d0446bb86c35af1c40eaf70 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_024254ae735541fb87cbf6a897087e9c.setIcon(icon_5273ffa65d0446bb86c35af1c40eaf70);
        
    
        var popup_25e01cad6d2f4c989f75120b99c5c499 = L.popup({"maxWidth": "100%"});

        
            var html_30eb6593cee4471cbed24caceb5efe9e = $(`<div id="html_30eb6593cee4471cbed24caceb5efe9e" style="width: 100.0%; height: 100.0%;">La_Lisera</div>`)[0];
            popup_25e01cad6d2f4c989f75120b99c5c499.setContent(html_30eb6593cee4471cbed24caceb5efe9e);
        

        marker_024254ae735541fb87cbf6a897087e9c.bindPopup(popup_25e01cad6d2f4c989f75120b99c5c499)
        ;

        
    
</script>