{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="static/css/graficos.css">

<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 5px;
    }

    .container {
        height: 80%;
        padding: 0%;
        max-width: 100%;
    }

    .row {
        margin: 1%;
        margin-bottom: 2%;
    }

    .row.principal {
        height: 100%;
    }

    .col-sm {
        padding: 0%;
    }

    .btn {
        margin-top: 10px;
    }

    @media only screen and (max-width: 700px) {
        .row {
            position: relative;
            left: 0%;
            top: 0%;
            padding: 0%;
        }
    }

    @media only screen and (max-width: 576px) {
        .row {
            height: 100%;
        }

        .superior {
            height: auto;
        }

        .mapa {
            height: 100%;
        }
    }
</style>
{% endblock %}



{% block content %}
<div class="container">
    <div class="row principal">
        <div class="col-sm ">
            <div class="row secundaria superior">
                <div class="col-sm">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <form method="POST" action="/mapas">
                                {% with messages  = get_flashed_messages() %}
                                {% if messages %}

                                <div class="alert alert-danger" role="alert">
                                    <span>{{ messages[0] }}</span>
                                </div>

                                {% endif %}
                                {% endwith %}

                                <h5 class="gj-datepicker">Elige una fecha:</h5>
                                <input id="datepicker" width="100%" name='fecha' />

                                <h5>Elige una playa:</h5>
                                <select class="browser-default custom-select" name='eleccion'>
                                    <option selected>Ninguna</option>
                                    {% for elemento in playas %}
                                    <option value={{elemento}}>{{elemento}}</option>
                                    {% endfor %}
                                </select>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary"
                                        style="background-color: goldenrod; border-color: goldenrod; color: black;">Consultar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row secundaria inferior">
                <div class="col-sm">
                    <div class="card bg-light">
                        <div class="card-body text-center">


                            {% if resultados != None %}
                            <h5>Resultados para las costas de {{nombre}} ({{fecha}}).</h5>
                            <div class="container-fluid border border-dark rounded" id="data-container">
                                <div id="line-chart" style="height: 90%;"></div>
                            </div>
                            {% else %}
                            <h5>Resultados</h5>
                            {% endif %}
                            <br>
                            {% if resultados != None %}
                            <h5>Historico de avistamientos</h5>

                            <div class="container-fluid_historico border border-dark rounded" id="data-container">
                                <div id="line-chart_historico" style="height: 90%;"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mapa">

            {{mapa|safe}}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        lineChart('{{ resultados|tojson }}');
        lineChart_historico('{{ historico|tojson }}');

        $(window).resize(function () {

            window.lineChart.redraw();
            window.lineChart_historico.redraw();


        });
    });

    function lineChart(x) {
        console.log(x);
        var w = JSON.parse(x);
        window.lineChart = Morris.Line({
            element: 'line-chart',

            data: w,
            xkey: 'y',
            // ykeys: ['a', 'b'],
            ykeys: ['v'],

            // labels: ['Series A', 'Series B'],
            labels: ['Avistamientos'],

            // lineColors: ['#1e88e5','#ff3321'],
            lineColors: ['#ff99c6'],
            lineWidth: '3px',
            pointFillColors: ['#4B0082'],
            fillOpacity: 0.4,
            hideHover: 'auto',

            resize: true,
            redraw: true
        });
    }
    function lineChart_historico(x) {
        console.log(x);
        var w = JSON.parse(x);
        window.lineChart = Morris.Line({
            element: 'line-chart_historico',

            data: w,
            xkey: 'y',
            // ykeys: ['a', 'b'],
            ykeys: ['v'],

            // labels: ['Series A', 'Series B'],
            labels: ['Avistamientos'],

            // lineColors: ['#1e88e5','#ff3321'],
            lineColors: ['#c1502e'],
            lineWidth: '3px',
            pointFillColors: ['#587e76'],
            resize: true,
            redraw: true
        });
    }
</script>

{% endblock %}