<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_44032283c7f94ec68bcdcc1d2ecc85ef {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_44032283c7f94ec68bcdcc1d2ecc85ef" ></div>
        
</body>
<script>    
    
            var map_44032283c7f94ec68bcdcc1d2ecc85ef = L.map(
                "map_44032283c7f94ec68bcdcc1d2ecc85ef",
                {
                    center: [-18.493643399999996, -70.3281622],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6f3b56ac443340f4b0986b0f075c4b85 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_44032283c7f94ec68bcdcc1d2ecc85ef);
        
    
            var marker_5bbff9dd34104d4cbc051e2fb18a6d77 = L.marker(
                [-18.493643399999996, -70.3281622],
                {}
            ).addTo(map_44032283c7f94ec68bcdcc1d2ecc85ef);
        
    
            var icon_34a752152201414786158ed67d738a1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5bbff9dd34104d4cbc051e2fb18a6d77.setIcon(icon_34a752152201414786158ed67d738a1d);
        
    
        var popup_56f1b50978094b688cc36205f407808e = L.popup({"maxWidth": "100%"});

        
            var html_87948d88fda24a7985b53c9ea2c31de7 = $(`<div id="html_87948d88fda24a7985b53c9ea2c31de7" style="width: 100.0%; height: 100.0%;">La_Lisera</div>`)[0];
            popup_56f1b50978094b688cc36205f407808e.setContent(html_87948d88fda24a7985b53c9ea2c31de7);
        

        marker_5bbff9dd34104d4cbc051e2fb18a6d77.bindPopup(popup_56f1b50978094b688cc36205f407808e)
        ;

        
    
</script>