<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd"><head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<title></title>
<style type="text/css">
 
body, html { height:100%;
	margin:0;
	padding:0;
	width:100%;
	background-color:silver;
	}
 

#tres{ border:1px solid black;
	width:49.5%;
	display:inline-block;
	height:49.5%;
	background-color:yellow;
	}
#cuatro{ border:1px solid black;
	width:49.5%;
	display:inline-block;
	height:49.5%;
	background-color:red;
	}
</style>
</head>
<body>
	<div id="uno">1</div>
	<div id="dos">2</div>
	<br>
	<div id="tres">3</div>
	<div id="cuatro">4</div>
</body>
</html>